@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --white: #ffffff;
    --black:#2c2c51;
    --orange:#ff9f1a;
    --main-yellow: #E1AF2D;
    --dark-gray:#202124;
    --darker-gray: #17181C;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:6rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
    background-color: var(--darker-gray);
}

.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    color:var(--black);
    padding:1rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--orange);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    font-weight: bolder;
    font-size: 1.7rem;
    color:var(--black);
    cursor: pointer;
    background:#fff;
    padding:.8rem 3rem;
}

.btn:hover{
    background:var(--orange);
    color:#fff;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    padding:2rem 9%;
    display: flex;
    align-items: center;
}

header .logo{
    position: absolute;
    display: block;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--main-yellow);
    margin-right: 8%;
}
header .navbar{
    margin-left: auto; 
    
}
header .navbar a{
    position: relative;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin:0 2rem;
    padding: 0.3rem 0.5rem;
    color: var(--main-yellow);
}
header .navbar a:after {
    display: inline;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-yellow);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
header .navbar a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menu-bar{
    font-size: 2.5rem;
    padding: .5rem 1.5rem;
    color:var(--main-yellow);
    cursor: pointer;
    display: none;
}

/* Slider Section*/
section{
    padding: 2rem;
}
.home{
    padding: 0;
    position: relative;
    background-image: url('../img/home/repeated-square-dark.png');
}
.home .slider-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 2%;
    padding-top: 3rem;
}
.home .slider-container .slide .content{
    flex: 1 1 40rem;
    margin: 25px 0px 75px 100px; 
    animation: slideContent 0.5s linear .5s backwards;
}
@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.home .slider-container .slide .image{
    flex: 1 1 50rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 0;
}
.home .slider-container .slide .image .shoe{
    padding-top: 5rem;
    width: 90%;
    transform: rotate(-21.07deg);
    animation: shoe 0.3s linear ;
}

@keyframes shoe{
   0%{
       transform: rotate(0deg) scale(0.5);
   } 
}
.home .slider-container .slide .image .eclipse{
    position: absolute;
    margin-left: 8rem;
    width: 80%;
    top: 0; left: 0;
    z-index: -1;
    opacity: 0.8;
    animation: eclipse 0.5s linear;
}

@keyframes eclipse {
    0%{
        opacity: 0;
        top: -3rem;
    }
}
.home .slider-container .slide span{
    font-size: 5rem;
    color: #fff;
    font-weight: bold;  
}
.home .slider-container .slide h3{
    font-size: 3rem;
    color: #fff;
    padding: 2rem 0;
}

.home .slider-container .slide .content p{
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.5;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 1.5rem;
    border: 2px solid #E1AF2D;
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--main-yellow);
    cursor: pointer;
    padding: 1rem 3rem;
    background-color: black;
}

.btn:hover{
    background-color: #E1AF2D;
}

.home .slider-container{
    display: none;
}

.home .slider-container.active{
    display: block;
}

.home #prev, 
.home #next{
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 4rem;
    color: #fff;
    cursor: pointer;
}

.home #prev:hover,
.home #next:hover{
    color: #E1AF2D;
}

.home #prev{
    left: 10rem;
}

.home #next{
    right: 10rem;
}

.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: var(--dark-gray);
    border-radius: 1.5rem;
    padding: 5rem;
    margin: 25px 70px 50px;
}
.service .box-container .box{
    text-align: center;
    flex: 1 1 30rem;
}

.service .box-container .box i{
    font-size: 4rem;
    color: var(--main-yellow);
    
}

.service .box-container .box p{
    font-size: 1.5rem;
    color: var(--main-yellow);
    padding: 1rem 0;
}

.service .box-container .box h3{
    font-size: 2rem;
    color: var(--white);
}



/* Footer Section */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 3rem 15rem;
    font-size: 1.5rem;
    background-color: var(--darker-gray);
    border-top: 1px solid var(--main-yellow);
}

footer .footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

footer .footer-container .sec{
    margin-right: 3rem;
}

footer .footer-container .sec.about-us{
    width: 30%;
}

footer .footer-container h2{
    position: relative;
    color: var(--white);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

footer .footer-container h2:before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 4rem;
    height: 3px;
    background-color: var(--main-yellow);
}

footer p{
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.5;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style-type: none;
}

.sci li a{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .8rem;
    text-decoration: none;
    border-radius: 5px;
}

.sci li a:hover{
    background-color: var(--main-yellow);
}

.sci li a .fa{
    font-size: 1.5rem;
    color: var(--white);
}

.quick-links{
    position: relative;
    width: 25%;
    padding-left: 14rem;
}

.quick-links ul li{
    list-style-type: none;
}
.quick-links ul li a{
    color: var(--white);
    text-decoration: none;
    margin-bottom: 0.8rem;
    display: inline-block;
}

.quick-links ul li a:hover{
    color: var(--main-yellow);
}

.contact{
    margin-left: 2rem;
    width: calc(30% - 4rem);
    margin-right: 0 !important;
    padding-left: 8rem;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color:var(--white);
    font-size: 1.5rem;
    margin-right: 10px;
}

.contact .info li i{
    color: var(--main-yellow);
}

.contact .info li span{
    color: var(--white);
}

.contact .info li span:hover{
    color: var(--main-yellow);
}


.contact .info li a{
    color: var(--white);
    text-transform: lowercase;
}

.contact .info li a:hover{
    color: var(--main-yellow);
}


/* Responsive */
@media (max-width:926px){

    #menu-bar{
        display: block;
        color: var(--main-yellow);
    }
    
    header{
        padding: 1rem 5%;
        background: var(--dark-gray);
    }
    header .navbar{
        position: absolute;
        top:100%; left:-120%;
        width:100%;
        background:var(--dark-gray);  
    }
    
    header .logo{
        display: block;
        margin-left: 35%;
    }
    header .navbar.active{
        left:0;
    }
  
    header .navbar a{
        display: block; 
        font-size: 2rem;
        padding:1.5rem;
        margin:1.5rem;
        text-align: center;
    }
  
    .home .slide-container .slide .image .text{
        width:60%;
    }
  
    .home #prev,
    .home #next{
        top:85%;
    }
  
  }

  @media (max-width:400px){

    html{
      font-size: 50%;
    }
  
    .home .slide-container .slide .image{
      padding-bottom: 6rem;
    }
  
    .heading{
      font-size: 3rem;
    }
  
  }