.cart-section{
    position: relative;
    margin-top: 80px;
    padding: 20px 10vw;
    display: flex;
    justify-content: space-between;
    z-index: 8;
}

.cart-product-list{
    width: 70%;
}
 
.cart-section-heading{
    font-size: 25px;
    margin: 20px 0;
    text-transform: uppercase;
}